In [47]:
import os
from dotenv import load_dotenv
load_dotenv()
import tmdbsimple as tmdb
tmdb.API_KEY = os.getenv("TOKEN")
import pandas as pd
import numpy as np

In [48]:
movies_df=pd.DataFrame()

In [49]:
search = tmdb.Search()
movie = search.movie(query=str(input('Insert movie: ')))

Insert movie: Doctor strange

In [50]:
df=pd.DataFrame(search.results[0])
df = df.drop(['popularity'],axis=1)
df = df.drop(['vote_count'],axis=1)
df = df.drop(['video'],axis=1)
df = df.drop(['poster_path'],axis=1)
df = df.drop(['id'],axis=1)
df = df.drop(['adult'],axis=1)
df = df.drop(['backdrop_path'],axis=1)
df = df.drop(['genre_ids'],axis=1)
df = df.reindex(columns=['title','vote_average','release_date','original_title','original_language','overview'])
df=df.drop_duplicates()

In [51]:
movies_df=pd.concat([movies_df,df])

In [52]:
movies_df=movies_df.reset_index(drop=True)
movies_df.index = np.arange(1, len(movies_df) + 1)
movies_df

,title,vote_average,release_date,original_title,original_language,overview
1,Doctor Strange,7.4,2016-11-04,Doctor Strange,en,"After his career is destroyed, a brilliant but..."

In [69]:
def create_movies_df(movies):
    movies_df=pd.DataFrame()
    for movie in movies:
        search = tmdb.Search()
        movie = search.movie(query=movie)
        df=pd.DataFrame(search.results[0])
        df = df.drop(['popularity','vote_count','video','poster_path','id','adult','backdrop_path','genre_ids'],axis=1)
        df = df.reindex(columns=['title','vote_average','release_date','original_title','original_language','overview'])
        df=df.drop_duplicates()
        movies_df=pd.concat([movies_df,df])
        movies=movies_df.reset_index(drop=True)
        movies_df.index = np.arange(1, len(movies_df) + 1)
    return movies_df

In [73]:
movies=pd.Series(['Thor','Spider man far from home', 'The avengers','Doctor strange','Iron Man 3'])
create_movies_df(movies)

,title,vote_average,release_date,original_title,original_language,overview
1,Thor,6.7,2011-05-06,Thor,en,"Against his father Odin's will, The Mighty Tho..."
2,Spider-Man: Far from Home,7.6,2019-07-02,Spider-Man: Far from Home,en,Peter Parker and his friends go on a summer tr...
3,The Avengers,7.7,2012-05-04,The Avengers,en,When an unexpected enemy emerges and threatens...
4,Doctor Strange,7.4,2016-11-04,Doctor Strange,en,"After his career is destroyed, a brilliant but..."
5,Iron Man 3,6.9,2013-05-03,Iron Man 3,en,When Tony Stark's world is torn apart by a for...